.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container-films {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex-basis: calc(50% - 40px); /* Вычитаем 40px для отступов */
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.show-poster {
  width: 100%;
  height: 540px;
  border-radius: 10px;
}
.show-title {
  text-align: center;
  margin-top: 10px;
}
.show-description {
  text-align: center;
  color: #666;
  font-size: 14px;
}

select, input[type="text"], input[type="url"], textarea, input[type="submit"] {
    width: 800px;
    display: block; /* Делает элемент блочным */
    margin-bottom: 15px; /* Добавляет нижний отступ между элементами формы */
}
