<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Вход/Up Form Transitions</title>
  
  
  
      <link rel="stylesheet" href="../static/css/style_login.css">

  
</head>

<body>
  <body>
<form method="post" action="/login">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <input checked="" id="signin" name="action" type="radio" value="signin">
  <label for="signin">Вход</label>
  <input id="signup" name="action" type="radio" value="signup">
  <label for="signup">Регистрация</label>
  <input id="reset" name="action" type="radio" value="reset">
  <label for="reset">Сброс пароля</label>
  <div id="wrapper">
    <div id="arrow"></div>
    <input id="email" name="email" placeholder="Почта" type="text">
    <input id="password" name="password" placeholder="Пароль" type="password">
    <input id="repassword" name="repassword" placeholder="Повторите пароль" type="password">
    <input id="username" name="username" placeholder="Логин" type="text">
  </div>
  <button type="submit">
    <span>
      Сброс пароля
      <br>
      Вход
      <br>
      Регистрация
    </span>
  </button>
</form>
<div id="hint">TV serials</div>

<script type="text/javascript">
    
</script>

</body>
  
  
</body>
</html>
